<div class="bg-secondary text-center py-5">
  <h1 class="text-light display-1 fw-bold">Film tracker project</h1>
  <p class="text-light lead mb-5">Film Tracker is a small project that allows users to easily keep track of the movies they have watched. The application also provides details about each movie, such as its release year, director, cast etc.</p>
  <a href="<%= films_path %>" class="btn btn-lg btn-outline-light rounded-pill">Check movie list</a>
</div>
